In [52]:
import pandas as pd

df = pd.read_csv("glassdoor_jobs.csv")

display(df)
count_rows = df.shape[0]
print(count_rows)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist 2,$52K - $95K (Glassdoor est.),Description\nDigital Health and Analytics with...,3.9,Humana3.9,"Louisville, KY",-1,10000+ Employees,1961,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),-1
1,"Senior Data Scientist , Advanced Analytics",$123K - $199K (Glassdoor est.),Senior Data Scientist\nRaytheon Missiles & Def...,3.8,Raytheon Missiles & Defense3.8,"Andover, MA",-1,10000+ Employees,2020,Company - Public,Aerospace & Defense,Aerospace & Defense,$10+ billion (USD),-1
2,Data Scientist - HCI,-1,"Data Scientist - HCI\nLong Beach, CA\nFull-tim...",2.3,SCAN Group2.3,"Long Beach, CA",-1,501 to 1000 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
3,Lead Data Scientist,$94K - $155K (Glassdoor est.),Description\nThe Lead Data Scientist uses math...,3.9,Humana3.9,"Boston, MA",-1,10000+ Employees,1961,Company - Public,Insurance Carriers,Insurance,$10+ billion (USD),-1
4,Spark/Big Data Engineer,$52K - $101K (Glassdoor est.),The Data Consumption team of Decision Sciences...,3.5,GEICO3.5,"Chevy Chase, MD",-1,10000+ Employees,1936,Subsidiary or Business Segment,Insurance Carriers,Insurance,$10+ billion (USD),-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,-1,-1,-1,-1
996,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,-1,-1,-1,-1
997,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,-1,-1,-1,-1
998,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,-1,-1,-1,-1
999,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,-1,-1,-1,-1

1000

In [53]:
#-------------salary parse-------------------

#remove -1 salary
df = df[df['Salary Estimate'] != '-1']

#remove 'per hour' and 'employer provided salary'
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employee_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

# remove dollar signs and 'glasdoor'
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary_minus_kd = salary.apply(lambda x:x.replace('K','').replace('$',''))

salary_minus_hr = salary_minus_kd.apply(lambda x: x.lower().replace('per hour','').replace('employee provided salary:',''))

df['min_salary'] = salary_minus_hr.apply(lambda x : int(x.split('-')[0]))
df['max_salary'] = salary_minus_hr.apply(lambda x : int(x.split('-')[1]))
df['avg_salary'] = (df['min_salary'] + df['max_salary'])/2

#display(df)



#display(salary_minus_hr)




count_rows = df.shape[0]
print(count_rows)

998

In [54]:
#---------------------company name text only -----------------------------
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis =1)

#display(df)

In [55]:
#------------------- state field ----------------------------------------

df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df['same_state'] = df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0,axis=1)
df.same_state.value_counts()

0    998
Name: same_state, dtype: int64

In [56]:
#--------------------age of the company----------------------------------

df['age'] = df['Founded'].apply(lambda x : x if x < 1 else 2020-x)

In [57]:
#--------------------parse job description ------------------------------
# r studio | python | spark | excel

df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

#df.python_yn.value_counts()

df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
#df.R_yn.value_counts()

df['spark_yn'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

df['excel_yn'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [59]:
df.to_csv('salary_data_cleaned.csv',index = False)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,max_salary,avg_salary,company_txt,job_state,same_state,age,python_yn,R_yn,spark_yn,excel_yn
0,Data Scientist 2,$52K - $95K (Glassdoor est.),Description\nDigital Health and Analytics with...,3.9,Humana3.9,"Louisville, KY",-1,10000+ Employees,1961,Company - Public,...,95,73.5,Humana,KY,0,59,1,0,1,0
1,"Senior Data Scientist , Advanced Analytics",$123K - $199K (Glassdoor est.),Senior Data Scientist\nRaytheon Missiles & Def...,3.8,Raytheon Missiles & Defense3.8,"Andover, MA",-1,10000+ Employees,2020,Company - Public,...,199,161.0,Raytheon Missiles & Defense,MA,0,0,1,0,0,0
2,Lead Data Scientist,$94K - $155K (Glassdoor est.),Description\nThe Lead Data Scientist uses math...,3.9,Humana3.9,"Boston, MA",-1,10000+ Employees,1961,Company - Public,...,155,124.5,Humana,MA,0,59,0,0,0,0
3,Spark/Big Data Engineer,$52K - $101K (Glassdoor est.),The Data Consumption team of Decision Sciences...,3.5,GEICO3.5,"Chevy Chase, MD",-1,10000+ Employees,1936,Subsidiary or Business Segment,...,101,76.5,GEICO,MD,0,84,0,0,1,1
4,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,...,142,114.5,Farm Credit Mid-America,KY,0,-1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,...,142,114.5,Farm Credit Mid-America,KY,0,-1,0,0,0,0
994,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,...,142,114.5,Farm Credit Mid-America,KY,0,-1,0,0,0,0
995,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,...,142,114.5,Farm Credit Mid-America,KY,0,-1,0,0,0,0
996,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,...,142,114.5,Farm Credit Mid-America,KY,0,-1,0,0,0,0
997,Data Scientist,$87K - $142K (Glassdoor est.),"At Farm Credit Mid-America, we believe people ...",4.1,Farm Credit Mid-America4.1,"Louisville, KY",-1,-1,-1,-1,...,142,114.5,Farm Credit Mid-America,KY,0,-1,0,0,0,0

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employee_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark_yn', 'excel_yn'],
      dtype='object')